---
import MatchTableWidget from '@layouts/components/MatchTableWidget.astro';

import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

import '@styles/main.scss';

---


<!doctype html>
<html class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
		
    <script src="public/js/main.js"></script>

		<title>Widget</title>
	</head>
	<body class="min-h-full">
    

    <div class="tabs-wrapper">
      <ul class="tabs font-bold uppercase text-base font-GillSansMt flex flex-wrap gap-5">
        <li class="active"><a href="#tabs1">Все турниры</a></li>
        <li><a href="#tabs2">Текущие матчи</a></li>
        <li><a href="#tabs3">Результаты</a></li>
      </ul>
      
        <div class="tabs-box overflow-hidden" id="tabs1_">
  
          <div class="swiper-container">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <MatchTableWidget
                  iconBlock={`<div class="flex-shrink-0"><img src="images/online-ico.svg" width="16" alt="" /></div>`}
                  tournamentName="Взрослые"
                  round="Полуфинал"
                  time="00:34"
                  name="Турнир один большой при большой"
                  players={[
                    { 
                      names: ["Скопинцева1 А.И."], 
                      scores: [4, 4, 4, 10], 
                      isActive: true,
                      highlightedScores: [2,3]  // The second score (4) is highlighted
                    },
                    { 
                      names: ["Попова К.А."], 
                      scores: [30, 1, 2, 0], 
                      isActive: false,
                      highlightedScores: [1,2]  // The second score (4) is highlighted
                    }
                  ]}
                  
                  highlightIndex={1}
                />
              </div>
  
              <div class="swiper-slide">
                <MatchTableWidget
                  iconBlock={`<div class="flex-shrink-0"><img src="images/online-ico.svg" width="16" alt="" /></div>`}
                  tournamentName="Взрослые"
                  round="Полуфинал"
                  time="00:34"
                  name="Турнир один большой при большой"
                  players={[
                    { names: ["Скопинцева А.И.1", "Иванова Т.В.2"], scores: ['1', '3', '2', '2'], isActive: true, highlightedScores: [1,2]  },
                    { names: ["Попова К.А.", "Петрова М.С."], scores: ['4', '3', '5', '6'], isActive: false, highlightedScores: [1] }
                  ]}
                  
                  highlightIndex={1}
                />
              </div>
  
              <div class="swiper-slide">
                <MatchTableWidget
                  iconBlock={``}
                  tournamentName="Взрослые"
                  round="Полуфинал"
                  time="00:34"
                  name="Турнир один большой при большой"
                  players={[
                    { names: ["Скопинцева А.И.1", "Иванова Т.В.2"], scores: ['checked', '3', '2', '2'], isActive: false, highlightedScores: [1,2]  },
                    { names: ["Попова К.А.", "Петрова М.С."], scores: ['4', '3', '5', '6'], isActive: false, highlightedScores: [1] }
                  ]}
                  
                  
                />
              </div>
  
              <div class="swiper-slide">
                <MatchTableWidget
                  iconBlock={``}
                  tournamentName="Взрослые"
                  round="Полуфинал"
                  time="00:34"
                  name="Турнир один большой при большой"
                  players={[
                    { names: ["Скопинцева А.И.1"], scores: ['checked', '3', '2', '2'], isActive: false, highlightedScores: [1,2]  },
                    { names: ["Попова К.А."], scores: ['4', '3', '5', '6'], isActive: false, highlightedScores: [1] }
                  ]}
                  
                />
              </div>
              
              <div class="swiper-slide">
                <MatchTableWidget
                  iconBlock={``}
                  tournamentName="Взрослые"
                  round="Полуфинал"
                  time="00:34"
                  name="Турнир один большой при большой"
                  players={[
                    { 
                      names: ["Скопинцева1 А.И."], 
                      scores: [4, 4, 4, 10], 
                      isActive: true,
                      highlightedScores: [2,3]  // The second score (4) is highlighted
                    },
                    { 
                      names: ["Попова К.А."], 
                      scores: [30, 1, 2, 0], 
                      isActive: false,
                      highlightedScores: [1,2]  // The second score (4) is highlighted
                    }
                  ]}
                  
                  highlightIndex={1}
                />
              </div>
  
              <div class="swiper-slide">
                <MatchTableWidget
                  iconBlock={``}
                  tournamentName="Взрослые"
                  round="Полуфинал"
                  time="00:34"
                  name="Турнир один большой при большой"
                  players={[
                    { names: ["Скопинцева А.И.1"], scores: ['checked', '3', '2', '2'], isActive: false, highlightedScores: [1,2]  },
                    { names: ["Попова К.А."], scores: ['4', '3', '5', '6'], isActive: false, highlightedScores: [1] }
                  ]}
                  
                />
              </div>
              
              <div class="swiper-slide">
                <MatchTableWidget
                  iconBlock={``}
                  tournamentName="Взрослые"
                  round="Полуфинал"
                  time="00:34"
                  name="Турнир один большой при большой"
                  players={[
                    { 
                      names: ["Скопинцева1 А.И."], 
                      scores: [4, 4, 4, 10], 
                      isActive: true,
                      highlightedScores: [2,3]  // The second score (4) is highlighted
                    },
                    { 
                      names: ["Попова К.А."], 
                      scores: [30, 1, 2, 0], 
                      isActive: false,
                      highlightedScores: [1,2]  // The second score (4) is highlighted
                    }
                  ]}
                  
                  highlightIndex={1}
                />
              </div>
              
  
            </div>
          
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
          </div>
  
        </div>
        <div class="tabs-box" id="tabs2_">
  
          <div class="swiper-container">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <MatchTableWidget
                  iconBlock={`<div class="flex-shrink-0"><img src="images/online-ico.svg" width="16" alt="" /></div>`}
                  tournamentName="Взрослые"
                  round="Полуфинал"
                  time="00:34"
                  name="Турнир один большой при большой"
                  players={[
                    { 
                      names: ["Скопинцева1 А.И."], 
                      scores: [4, 4, 4, 10], 
                      isActive: true,
                      highlightedScores: [2,3]  // The second score (4) is highlighted
                    },
                    { 
                      names: ["Попова К.А."], 
                      scores: [30, 1, 2, 0], 
                      isActive: false,
                      highlightedScores: [1,2]  // The second score (4) is highlighted
                    }
                  ]}
                  
                  highlightIndex={1}
                />
              </div>
  
              <div class="swiper-slide">
                <MatchTableWidget
                  iconBlock={`<div class="flex-shrink-0"><img src="images/online-ico.svg" width="16" alt="" /></div>`}
                  tournamentName="Взрослые"
                  round="Полуфинал"
                  time="00:34"
                  name="Турнир один большой при большой"
                  players={[
                    { names: ["Скопинцева А.И.1", "Иванова Т.В.2"], scores: ['1', '3', '2', '2'], isActive: true, highlightedScores: [1,2]  },
                    { names: ["Попова К.А.", "Петрова М.С."], scores: ['4', '3', '5', '6'], isActive: false, highlightedScores: [1] }
                  ]}
                  
                  highlightIndex={1}
                />
              </div>
  
              
  
            </div>
          
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
          </div>
  
  
        </div>
        <div class="tabs-box" id="tabs3_">
          3
        </div>
    </div>

	</body>
</html>






  
